/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+SA:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Taake user ko hamesha scrollbar nazar aaye */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a9a9ac; /* Zinc-300 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; /* Zinc-400 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: black;
  }
}
.ql-align-center {
  text-align: center !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

.montserrat {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}
.orange-bg {
  background: linear-gradient(90deg, #ff6a3d, #f33e0a);
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
}

@media (max-width: 767px) {
  table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
  }

  th,
  td {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
  }

  tr {
    border-bottom-width: 1px !important;
    border-color: rgb(228 228 231) !important;
  }
}

ol,
ul,
menu {
  list-style: disc;
}
/* a{
  color:#0578ff !important
} */

/* Tailwind CSS utility to hide scrollbar */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden !important;
  position: fixed; /* Ye har qism ki scrolling rok deta hai */
  width: 100%;
}
